<!DOCTYPE html>
<html>
<head>
	<title>Web Template</title>
</head>
<body background="img/bg.jpg">
	<font face="Roboto" color="#3b3b3b">
		
	

	<table width="100%" align="center" border="0" cellpadding="0" cellspacing="0" height="100%" background="">
		<tboody>
			<tr>
				<td>
					<table width="1140px" border="0"  align="center">
						<tbody>
							<!-- Header -->
							<tr>
								<td width="570px">
									<a href="">
										<img src="img/logo-200.png" height="100px">
									</a>
								</td>
								<td align="right">
									<b><a href="index.html" title="Home"> <font face="Roboto" color="#3b3b3b">Home</font></a></b> &nbsp;&nbsp;&nbsp;
									<b><a href="portofolio.html" title="Portofolio"><font face="Roboto" color="#3b3b3b">Portofolio</font></a></b> &nbsp;&nbsp;&nbsp;
									<b><a href="about.html" title="About Me"><font face="Roboto" color="#fa6f49">About Us</font></a></b> &nbsp;&nbsp;&nbsp;
									<b><a href="blog.html" title="Blog"><font face="Roboto" color="#3b3b3b">Blog</font></a></b> &nbsp;&nbsp;&nbsp;
									<b><a href="contact.html" title="Contact Me"><font face="Roboto" color="#3b3b3b">Contact Us</font></a></b> &nbsp;&nbsp;&nbsp;
									<b><a href="team.html" title="Login"><font face="Roboto" color="#3b3b3b">Team</font></a></b> &nbsp;&nbsp;&nbsp;
								</td>

							</tr>
							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>
							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>
							<!-- Content -->
							<tr>
								<td colspan="2">
								<font size="30"><b>About <font color="#fa6f49">&nbsp;LaraDinus.</font></b></font>
								<br>
								<br>
								<p>
								<b>========</b>
								<br>
								<br>
								komunitas laravel Universitas Dian Nuswantoro, Bersama ciptakan teknologi untuk membangun negeri.
								<br>
								join bergabung bersama kami sekarang juga.
								</p>
								</td>
							</tr>
							
							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>
							
							<tr>
								<td>
								<center>
									<img src="img/about.png" width="80%">
								</center>
								</td>
								<td valign="top">
									<font size="6">LARADINUS<br> <b>Laravel Udinus Comunity</b></font>
									<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br><br>

									Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit..<br>

									</p>
								</td>
							</tr>

							<tr>
								<td height="30px"  colspan="2"></td>
							</tr>
							<!-- Footer -->
							<tr>
								<td>
									<img src="img/logo-200-black.png" width="35px"> Copyright &copy; 2017 Fiqi Arifianto</td>
								</td>
								<td>
									
								</td>
							</tr>


						</tbody>
					</table>
				</td>
			</tr>
		</tboody>
	</table>





	</font>
</body>
</html>